[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django-debug-toolbar = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-filter = "*"
django-templated-mail = "*"
redis = "*"
pillow = "*"
celery = "*"
flower = "*"
model-bakery = "*"
django-redis = "*"
django-request-logging = "*"
importlib-metadata = "==3.6"
gunicorn = "*"
django-cors-headers = "*"
dj-database-url = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"
djoser = "*"
django-jazzmin = "*"
psycopg2-binary = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"
toml = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.11"
