{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'core/main.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/custom.css' %}" />
    <title>THE PILLAR | UEP - Student Publication</title>
  </head>

  <body>
    <div class="home-page">
      <div class="row">
        <div
          class="col d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="{% static 'core/The Pillar Logo.png' %}"
            alt="Logo"
            class="logo"
          />
          <h1 class="display-1 fw-bold text-light">
            <span class="initialCapital">T</span>HE
            <span class="initialCapital">P</span>ILLAR
          </h1>

          <div class="d-grid gap-2 col-6 mx-auto">
            <a
              href="/admin"
              class="fw-bold text-light main_link btn btn-secondary"
              >ADMIN</a
            >
            <a
              href="http://127.0.0.1:5501/index.html"
              class="fw-bold text-light main_link btn btn-secondary"
              >SITE</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
